div#menu {
  position: absolute;
  z-index: 999;
  top: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

div#menu svg {
  width: 35px;
  height: 35px;
  color: #FFFFFF;
  stroke-width: 2;
}

div#menu div span {
  margin: 0px 15px;
  font-size: 18px;
  color: #FFFFFF;
}